.contactCard {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  input {
    margin: 10px 20px;
    width: 90%;
    padding: 5px;
    /* border: 0.5px solid; */
    border: none;
    border-bottom: 1px solid;
    /* border-radius: 20px; */
  }
  button {
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
    background-color: #8cc176;
  }
}
